@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing:border-box;
}

.wrapper {
  max-width:100%;
  display:flex;
  flex-direction:column;
}

.main__container {
  flex:1 0 auto;
}

.header__navigation {
  background-color: black;
}

.content__limit {
  max-width:1100px;
  padding:0 10px;
  margin: 0 auto;
  overflow:hidden;
}

.top__header__container {
  padding: 19px 0;
}

.top__header__flex__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.axit__logo {
}

.header__nav {
}

.header__nav ul {
  display: flex;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.header__nav li {
  list-style: none;
  margin-right: 48px;
  color: #b0b0b0;
}

.header__nav li:hover {
  color: orange;
  cursor: pointer;
}

.header__nav li:last-of-type {
  margin-right: 0px;
}

.header__background {
  background-image: url(https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header__gradient {
  background: rgba(0, 0, 0, 0.7);
}

.main__header__flex__container {
  display: flex;
  padding-bottom: 139px;
}

.leftblock__donwload {
  color: white;
  margin-top: 110px;
}

.axit__content__logo {
  max-width: 100%;
}

.header__title h1 {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 23px;
}

.divider {
  padding: 0;
  margin: 34px 0 0 3px;
  height: 2px;
  width: 64px;
  background-color: white;
  box-shadow: 0px 0px 31px -9px #000000;
}

.header__textblock {
  margin-top: 38px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #d7d7d7;
  max-width: 462px;
  line-height: 21px;
}

.header__download {
  margin-top: 44px;
  margin-left: 2px;
  width: 134px;
  height: 41px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.header__download:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.header__rightblock__main {
}

.rightblock__flex__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rightblock__register__container {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 25px -9px #000000;
}
.register__title {
  padding: 17px 0;
  background-color: #f5f5f5f5;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 3px;
}
.uppercase__orange {
  color: orange;
  text-transform: uppercase;
}
.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 358px;
}

.register__form input {
  width: 280px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #d6d6d6;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.register__form input:active,
:hover,
:focus {
  outline: none;
}

.register__form input[type="name"] {
  margin-top: 40px;
}

.register__form input[type="email"] {
  margin-top: 47px;
}

.register__form input[type="password"] {
  margin-top: 58px;
}

.register__form input[type="submit"] {
  width: 100%;
  margin-top: 42px;
  padding: 21px;
  border: none;
  border-radius: 0 0 3px 3px;
  background-color: #ff9b51;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.register__form input[type="submit"]:hover {
  background-color: #fd8b34;
  cursor: pointer;
}

.register__form input::-webkit-input-placeholder {
  color: #d6d6d6;
}

.social__media {
  background-color:#fff;
}

.social__media__flex__container {
  display: flex;
  padding: 22px 0;
}

.social__media__text__block {
  max-width: 40%;
}

.social__media__text__block h3 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.social__media__text__block p {
  max-width: 100%;
  margin: 3px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #595b5f;
  font-size: 14px;
  line-height: 1.5em;
}

.social__media__icons {
  max-width: 60%;
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding-left:20px;
  color: #cccccc;
}

.fab {
  font-size: 45px;
  margin-left: 53px;
}

.fab:first-of-type {
  margin-left: 10px;
}

.fab:hover {
  color: #767676;
  cursor: pointer;
}

.fa-facebook-f {
}

.fa-3x {
}
.fa-twitter {
}
.fa-google-plus-g {
}
.fa-pinterest {
}
.fa-instagram {
}
.fa-stumbleupon {
}
.fas:hover {
  color: #767676;
  cursor: pointer;
}
.fa-rss {
  font-size: 45px;
  margin-left: 53px;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
.main {
  background-color:#fff;
}
.tabs {
  background-color: rgb(240, 240, 240);
  padding-top: 140px;
  padding-bottom: 110px;
  overflow: hidden;
}

.tabs .content__limit {
  overflow:visible;
}

.tabs h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.tabs__main__flex__container {
  display:flex;
  justify-content:space-between;
}

.tabs__flex__container {
  display: flex;
}

.tabs .tab__header div {
  width: 110px;
  height: 110px;
  display: flex;
  margin-top: 1px;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}

.tabs .tab__header div:first-of-type {
  border-radius: 3px 3px 0 0;
}

.tabs .tab__header div:last-of-type {
  border-radius: 0 0 3px 3px;
}

.tabs .tab__header div:hover {
  background-color: #ff8b38;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.tabs .tab__header div.active {
  background-color: #ff8b38;
}

.tabs .tab__header div h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}

.tabs .tab__content {
  position: relative;
  width: 475px;
  margin-left: 95px;
}

.tabs__image {
  margin-left:100px;
}

.tab__download:hover {
  background-color: #ff7614;
  cursor: pointer;
}

.tabs .tab__content div {
  position: absolute;
  display:none;
}

.tabs .tab__content > div.active {
  display:block;
}

.tabs .tab__content h3 {
  font-family: "Open Sans", sans-serif;
  font-size:20px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom:50px;
}

.tabs .tab__content p {
  font-family: "Open Sans", sans-serif;
  font-weight:500;
  font-size: 14px;
  color: #a2a3a6;
  margin-bottom:30px;
  line-height:20px;
}

.tabs .tab__content p:last-of-type {
  margin-bottom:0px;
}

.tab__download {
  width: 120px;
  height: 45px;
  background-color: #ff8b38;
  margin-top:30px;
  border: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.sublist {
  background-color:white;
  padding-top:100px;
  padding-bottom:134px;
  font-family: "Open Sans", sans-serif;
}

.sublist__flex__container {
  display:flex;
}
.left__sublist__screen {
  width:55%;
}

.sublist__image {
  max-width:455px;
  margin-top:20px;
  box-shadow:0px 27px 30px 2px rgba(0, 0, 0, 0.433);
}

.right__sublist__screen {
  width:45%;
}

.right__sublist__screen p{
  font-family: "Open Sans", sans-serif;
  font-size:14px;
  color:#a9aaac;
  line-height:17px;
}

.right__sublist__screen h3 {
  font-size:20px;
}

.sub__list__content {
  margin-left:40px;
}

.divider {
  width:64px;
  height:3px;
  background-color:#ff8b38;
  margin-top:30px;
  margin-bottom:30px;
}

.sub__buttons__and__text {
  display:flex;
  margin-top:50px;
}

.circle {
  display:flex;
  justify-content: center;
  align-items:center;
  border:0.2em solid #ff8b38;
  border-radius:50%;
  height:40px;
  width:40px;
}

.circle:last-of-type{
  margin-top:58px;
}

.circle:hover {
  border-color:#ff6f00;
  cursor:pointer;
}

.sub__buttons__and__text .fas {
  color:#ff8b38;
}
.fa-cloud-download-alt {
  color:#ff8b38;
}

.fas:hover{
  color:#f06400;
}

.sub__text__container {
  margin-left:30px;
}

.sub__text__container h3{
  font-size:16px;
  font-weight:600;
}

.sub__text__container p {
  margin-top:15px;
  line-height:20px;
}

.sub__text__two{
  margin-top:37px;
}

.standart__picture {
  font-family: "Open Sans", sans-serif;
  background-color:#f5f5f5;
  padding-bottom:180px;
}

.standart__flex__container {
  display:flex;
}
.standart__picture__leftside {
  margin-top:79px;
  width:40%;
}

.standart__picture__leftside p:first-of-type {
  margin-top:-8px;
  line-height:20px;
}

.leftside__content p{
  color:#a9aaac;
  font-size:14px;
}

.leftside__content h3 {
  text-transform: capitalize;
  font-size:20px;
}

.leftside__content p:last-of-type{
  margin-top:30px;
}


.standart__picture .divider {
  height:2px;
  margin-top:24px;
}

.standart__picture__rightside {
  width:60%;
  display:flex;
  justify-content:flex-end;
}

.standart__picture__rightside .sublist__image {
  max-width:85%;
  margin-top:65px;
}

.why__block {
  padding-top:100px;
  padding-bottom:106px;
  background-color:white;
}

.why__block h3 {
  text-transform:uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  font-size:36px;
}

.why__block p {
  font-size:16px;
  color:#a9aaac;
}

.content__limit {
}
.why__flex__container {
  display:flex;
  flex-direction:column;
  align-items:center;
  
}

.why__block .divider {
  margin-top:20px;
}

.cards {
  display:flex;
  justify-content:space-between;
  margin-top:10px;
}

.cards p {
  text-align:center;
  font-family: "Open Sans", sans-serif;
  font-size:14px;
  color:#a9aaac;
}

.why__card {
  width:32%;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

.why__card h3 {
  margin-top:30px;
  font-family: "Open Sans", sans-serif;
  text-transform:capitalize;
  font-size:20px;
  font-weight:700;
}

.why__card p {
  margin-top:27px;
  text-align:center;
  font-family: "Open Sans", sans-serif;
  font-size:14px;
  color:#a9aaac;
  line-height:20px;
}

.why__card .circle {
  width:65px;
  height:65px;
}

.why__card .circle:hover{
  border-color:#ff8b38;
  cursor:unset
}

.why__card i{
  font-size:29px;
  color:#ff8b38;
}
.fa-lightbulb {
}
.fa-keyboard {
}

.fa-bolt {
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

.pricing__options {
  background-color:#f5f5f5;
  padding-top:90px;
  padding-bottom:106px;
}
.pricing__title {
  display:flex;
  flex-direction:column;
  align-items:center;
  font-family: 'Raleway', sans-serif;
}

.pricing__title p {
  color:#c2c3c4;
  font-family: 'Open Sans', sans-serif;
  margin-top:-11px;
  font-size:14px;
}

.pricing__title h3 {
  font-size:35px;
  font-weight:400;
  text-transform:uppercase;
}

.divider {
}
.pricing__plans {
  display:flex;
  justify-content:space-between;
  margin-top:80px;
}
.plan__block__container {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  width:31%;
}

.plan__price__head {
  background-color:#333333;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  color:white;
  
}
.plan__name {
  padding:21px 0;
  font-size:20px;
  text-align: center;
  border-bottom:1px solid white;
}

.plan__price {
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  text-align:center;
}
.dollar {
  font-size:35px;
}
.price__number {
  font-size:90px;
}
.price__sign {
  display:block;
  font-family: 'Open Sans', sans-serif;
  color:#adadad;
  font-weight:400;
  font-size:13px;
  margin-top:10px;
  padding-bottom:21px;
  font-style: italic;
}

.border__bottom {
  width:100%;
  height:6px;
  background-color:#ff8b38;
}

.popular {
  width:100%;
  padding:14px 0;
  font-size:14px;
  font-weight:600;
  text-transform: uppercase;
  background-color:#ff8b38;
}

.plan__body {
  background-color:white;
}
.plan__listpoint {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight:400;
  text-align:center;
  text-transform: uppercase;
  padding-top:10px;
  padding-bottom:12px;
  color:#9d9ea1;
  border-bottom:1px solid #f5f5f5;
}

.feedback {
  padding-top:100px;
  padding-bottom:53px;
  background-color:white;
  text-align:center;
}

.feedback .pricing__title h3 {
  font-size:36px;
}
.feedback .divider {
  margin-top:16px;
}

.feedback .pricing__title p {
  margin-top:0px;
  color:#86878b;
}

.feedback__block__container {
  display:flex;
  justify-content:space-between;
}
.feedback__text {
  width:250px;
  padding:24px 12px;
  background-color:#f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-style:italic;
  font-size:14px;
  font-weight:400;
  color:#86878b;
  margin-top:-45px;
  border-radius:4px;
}

.feedback__triangle {  
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f5f5f5;
  position:relative;
  left:20px;
}

.feedback__author {
  margin-top:10px;
  display:flex;
}

.feedback__avatar {
  width:70px;
  height:70px;
  border-radius:50%;
  background-color:grey;
  overflow:hidden;
}

.feedback__sign {
  margin-left:17px;
  margin-top:15px;
  font-family: 'Open Sans', sans-serif;
}

.author__name {
  display:block;
  font-weight:700;
  font-size:20px;
}

.author__position {
  display:block;
  margin-top:9px;
  font-weight:400;
  font-size:14px;
  color:#86878b;
}

.axure__design {
  background-color:#9a9a9a;
  background:no-repeat center/100% url(graphics/axure.jpg);
  background-size:cover;
  text-align:center;
  color:white;
}

.axure__design .header__gradient {
  padding-top:65px;
  padding-bottom:70px;
  background: rgba(0, 0, 0, 0.6);
}

.axure__design .divider {
  background-color:white;
  margin-top:22px;
}

.contact {
  padding-top:100px;
  padding-bottom:80px;
  background-color:white;
}
.contact .pricing__title h3 {
  font-size:36px;
}
.contact .divider {
  margin-top:20px;
}

.contact .pricing__title p{
  color:grey;
  margin-top:0px;
}
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

.contact__form__container {
}

.contact__form {
  display:flex;
  flex-direction:column;
  margin-top:85px;
}

.contact__form input {
  padding-top:0;
  padding-bottom:10px;
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
  font-weight:500;
}

.contact__form input {
  margin-top:30px;
}

.contact__form input:first-of-type{
  margin:0;
}

.contact__form input::-webkit-input-placeholder{
  color:lightgrey;
}

.contact__form__flex {
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.nes {
  display:flex;
  flex-direction:column;
  width:47%;
}

.nes input {
  border:none;
  border-bottom:1px solid lightgrey;
}

.contact__textarea {
  align-self:stretch;
  justify-self:self-start;
  width:47%;
  padding:0;
  border:0;
  border-bottom:1px solid lightgrey;
}

.contact__textarea textarea {
  width:100%;
  height:100%;
  resize:none;
  border:none;
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  font-weight:500;
  font-size:14px;
}

.contact__textarea textarea::-webkit-input-placeholder{
  color:lightgrey;
}

.contact__form input[type="submit"]{
  padding:0;
}

.contact__form input[type="submit"]{
  width:146px;
  height:45px;
  margin-top:40px;
  border:0;
  border-radius:4px;
  background-color:#ff9b51;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight:600;
  color:white;
  text-align:center;
  align-self:center;
}

.contact__form input[type="submit"]:hover{
  background-color:#ff7c17;
  cursor:pointer;
}

.footer {
  padding-top:20px;
  padding-bottom:14px;
  flex:0 0 auto;
  background-color:black;
}

.footer p {
  color:grey;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  margin-top:20px;
}

.footer__social__media {
  display:flex;
  justify-content:center;
}

.footer__social__media i {
  margin-left:30px;
  font-size:20px;
  color:white;
}

.footer__social__media i:hover {
  color:grey;
}